
#footer {
  top: 193%;
}
#blurb-bubble img {
  float: left;
  margin: 2%;
  height: 100%;
  width: auto;
}
a img {
  padding: 1%;
}



#blurb-bubble {
  bottom: 53%;
}


#form-bubble {
  bottom: 53%;
}


#images-bubble {
  bottom: -51%;
  height: 99%;
  text-align: center;
}


#ending-bubble {
  bottom: -90%;
}

