
#footer {
  top: 127%;
}
#blurb-bubble img {
  float: left;
  margin: 2%;
  height: 100%;
  width: auto;
}



#blurb-bubble {
  bottom: 53%;
}


#form-bubble {
  bottom: 53%;
}


#text-bubble {
  bottom: 8%;
  height: 40%;
}


#ending-bubble {
  bottom: -24%;
}

