.top {
  bottom: 53%;
}
.body {
  bottom: 10%;
}
#footer {
  top: 93%;
}


.top {
  bottom: 53%;
}
.body {
  bottom: 10%;
}
#blurb-bubble {
  bottom: 53%;
}

.top {
  bottom: 53%;
}
.body {
  bottom: 10%;
}
#form-bubble {
  bottom: 53%;
}

.top {
  bottom: 53%;
}
.body {
  bottom: 10%;
}
#body-bubble {
  bottom: 10%;
}

