
#footer {
  top: 157%;
}
#blurb-bubble img {
  float: left;
  margin: 2%;
  height: 100%;
  width: auto;
}
a img {
  padding: 1%;
}



#blurb-bubble {
  bottom: 53%;
}


#form-bubble {
  bottom: 53%;
}


#images-bubble {
  bottom: -22%;
  height: 70%;
  text-align: center;
}


#ending-bubble {
  bottom: -54%;
}

