
#footer {
  top: 242%;
}
#blurb-bubble img {
  float: left;
  margin: 2%;
  height: 100%;
  width: auto;
}
a img {
  padding: 1%;
}



#blurb-bubble {
  bottom: 53%;
}


#form-bubble {
  bottom: 53%;
}


#images-bubble {
  bottom: -94%;
  height: 142%;
  text-align: center;
}


#ending-bubble {
  height: 40%;
  bottom: -139%;
}

