.top {
  bottom: -33%;
}
.bottom {
  bottom: -66%;
}
#footer {
  top: 266%;
}


.top {
  bottom: -33%;
}
.bottom {
  bottom: -66%;
}
#b1-bubble {
  bottom: -33%;
}

.top {
  bottom: -33%;
}
.bottom {
  bottom: -66%;
}
#b2-bubble {
  bottom: -66%;
}

