
#footer {
  top: 183%;
}
#blurb-bubble img {
  float: left;
  margin: 2%;
  height: 100%;
  width: auto;
}
a img {
  padding: 1%;
}



#blurb-bubble {
  bottom: 53%;
}


#form-bubble {
  bottom: 53%;
}


#images-bubble {
  bottom: -22%;
  height: 70%;
}


#ending-bubble {
  height: 53%;
  bottom: -80%;
}

