#movie-bubble {
    width: 30%;/*480px*/
    text-align: center;
}

#movie {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    /*position: absolute;
    top: 5%;
    right: 5%
    I don't want to use this because it makes the "padding" have the same aspect ratio as the window. I want the padding to be equal on all sides.*/
}

#form-bubble {
    width: 25%;
}
